body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
    text-align: center;
}

.carousel {
    max-width: 500px;
    margin: 0 auto;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

.carousel-item img {
  border: 5px solid #f8f9fa; /* Warna dan ketebalan bingkai */
  border-radius: 10px; /* Melengkungkan sudut bingkai */
}
